.footer {
  background-color: #000;
  height: 100px;
  padding: 20px 0;
  color: var(--white);
}

.footer__links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.footer__links a {
  color: var(--white);
  text-decoration: none;
}

.footer__phone {
  color: var(--white);
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 10px;
}
